# For now .. consider storing in repo later
go.mod
go.sum

# Probably redundant
vendor/

# Development
.vscode
.vscode/

# Development binaries
libs/protobind/server/server
libs/protobind/server/shutdown/shutdown
cmd/bchatomicswap/bchatomicswap
cmd/btcatomicswap/btcatomicswap
cmd/dcratomicswap/dcratomicswap
cmd/ltcatomicswap/ltcatomicswap
cmd/monaatomicswap/monaatomicswap
cmd/partatomicswap/partatomicswap
cmd/qtumatomicswap/qtumatomicswap
cmd/viaatomicswap/viaatomicswap
cmd/vtcatomicswap/vtcatomicswap
cmd/xzcatomicswap/xzcatomicswap
